@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');


  /*personalizada (mi fuente)*/
@font-face {
    font-family: 'Courier New', Courier, monospace, 'Rokkit' !important;
    src: url('fonts/Rokkit-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  /* Aplicar la fuente al cuerpoy más*/
  body {
    font-family: 'Rokkitt', Courier, monospace !important;
    background-color: white;
    margin:0;
    padding:0;
    box-sizing:border-box;
  }

  /*Colores personalizados para que hagan match con la paleta de colores que elegí */

:root {
  --bs-primary: #D5BDAF !important; /* El color primario (para fondos) */
  --bs-secondary: #463f3a !important; /* El color secundario ( para textos) */
}
.navbar-custom {
  background-color: var(--bs-primary);
}
.navbar-custom .navbar-nav .nav-link {
  color: var(--bs-secondary); /* cambia el color de los enlaces */
}

.navbar-custom .navbar-nav .nav-link:hover {
  color: #fff; /* cambiar a blanco al pasar el raton */
}

/*Botones customizados*/

/* boton beige redondeado*/
.btn-beige {
  background-color: #D5BDAF;
  color: #fff; 
  padding: 10px 20px; 
  font-size: 16px; 
  border: 2px solid #e3d5ca; 
  border-radius: 50px; 
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-beige:hover {
  background-color: #E0AFA0; 
  transform: scale(1.1); 
}

.btn-beige:focus {
  outline: none; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}
/*boton clarito redondeado*/
.btn-light {
  background-color: #D5BDAF;
  color: #fff; 
  padding: 10px 20px; 
  font-size: 16px; 
  border: 2px solid #E0AFA0; 
  border-radius: 50px; 
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-light:hover {
  background-color: #E0AFA0; 
  transform: scale(1.1); 
}

.btn-light:focus {
  outline: none; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}


.btn-2 {
  width: 100%;
  height: 3rem;
  margin-top: 2rem;
  background-color: wheat;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.2rem;
  transition: all 400ms;
  cursor: pointer;
  box-shadow: 0 0 10px antiquewhite, 0 0 10px antiquewhite;
}

.btn-2:hover {
  background-color: antiquewhite;
  box-shadow: none;
}

/*tarjetas de productos*/
.card-img-top {
  transition: transform 0.3s ease;
}
.card-img-top:hover {
  transform: scale(1.1); 
  cursor: pointer; 
}



/*estilos personalizados del login*/

